<div class="breadcrumb">
  <div class="container">
    <div class="breadcrumb-inner">
      <ul class="list-inline list-unstyled">
        <li><a href="#">Home</a></li>
        <li><a href="#">Clothing</a></li>
        <li class="active">Floral Print Buttoned</li>
      </ul>
    </div><!-- /.breadcrumb-inner -->
  </div><!-- /.container -->
</div>
<div class="body-content outer-top-xs">
  <div class="container">
    <div class="row single-product">
      <div class="col-md-3 sidebar">
        <div class="sidebar-module-container">
          <div class="home-banner outer-top-n">
            <img src="assets\images\banners\LHS-banner.jpg" alt="Image">
          </div>


          <!-- ============================================== HOT DEALS ============================================== -->
          <div class="sidebar-widget hot-deals wow fadeInUp outer-top-vs animated" style="visibility: visible; animation-name: fadeInUp;">
            <h3 class="section-title">hot deals</h3>
            <div class="owl-carousel sidebar-carousel custom-carousel owl-theme outer-top-xs" style="opacity: 1; display: block;">

              <div class="owl-wrapper-outer">
                <div class="owl-wrapper" style="width: 1338px; left: 0px; display: block;">
                  <div class="owl-item" style="width: 223px;">
                    <div class="item">
                      <div class="products">
                        <div class="hot-deal-wrapper">
                          <div class="image">
                            <img src="assets\images\hot-deals\p5.jpg" alt="">
                          </div>
                          <div class="sale-offer-tag"><span>35%<br>off</span>
                          </div>
                          <div class="timing-wrapper">
                          </div>
                        </div><!-- /.hot-deal-wrapper -->

                        <div class="product-info text-left m-t-20">
                          <h3 class="name"><a href="detail.html">Floral Print Buttoned</a></h3>
                          <div class="rating rateit-small rateit"><button id="rateit-reset-2" data-role="none" class="rateit-reset" aria-label="reset rating" aria-controls="rateit-range-2" style="display: none;"></button><div id="rateit-range-2" class="rateit-range" tabindex="0" role="slider" aria-label="rating" aria-owns="rateit-reset-2" aria-valuemin="0" aria-valuemax="5" aria-valuenow="4" aria-readonly="true" style="width: 70px; height: 14px;"><div class="rateit-selected" style="height: 14px; width: 56px;"></div><div class="rateit-hover" style="height:14px"></div></div></div>

                          <div class="product-price">
								<span class="price">
									$600.00
								</span>

                            <span class="price-before-discount">$800.00</span>

                          </div><!-- /.product-price -->

                        </div><!-- /.product-info -->

                        <div class="cart clearfix animate-effect">
                          <div class="action">

                            <div class="add-cart-button btn-group">
                              <button class="btn btn-primary icon" data-toggle="dropdown" type="button">
                                <i class="fa fa-shopping-cart"></i>
                              </button>
                              <button class="btn btn-primary cart-btn" type="button">Add to cart</button>

                            </div>

                          </div><!-- /.action -->
                        </div><!-- /.cart -->
                      </div>
                    </div></div><div class="owl-item" style="width: 223px;"><div class="item">
                  <div class="products">
                    <div class="hot-deal-wrapper">
                      <div class="image">
                        <img src="assets\images\products\p6.jpg" alt="">
                      </div>
                      <div class="sale-offer-tag"><span>35%<br>off</span></div>
                      <div class="timing-wrapper">
                        <div class="box-wrapper">
                          <div class="date box">
                            <span class="key">120</span>
                            <span class="value">Days</span>
                          </div>
                        </div>

                        <div class="box-wrapper">
                          <div class="hour box">
                            <span class="key">20</span>
                            <span class="value">HRS</span>
                          </div>
                        </div>

                        <div class="box-wrapper">
                          <div class="minutes box">
                            <span class="key">36</span>
                            <span class="value">MINS</span>
                          </div>
                        </div>

                        <div class="box-wrapper hidden-md">
                          <div class="seconds box">
                            <span class="key">60</span>
                            <span class="value">SEC</span>
                          </div>
                        </div>
                      </div>
                    </div><!-- /.hot-deal-wrapper -->

                    <div class="product-info text-left m-t-20">
                      <h3 class="name"><a href="detail.html">Floral Print Buttoned</a></h3>
                      <div class="rating rateit-small rateit"><button id="rateit-reset-3" data-role="none" class="rateit-reset" aria-label="reset rating" aria-controls="rateit-range-3" style="display: none;"></button><div id="rateit-range-3" class="rateit-range" tabindex="0" role="slider" aria-label="rating" aria-owns="rateit-reset-3" aria-valuemin="0" aria-valuemax="5" aria-valuenow="4" aria-readonly="true" style="width: 70px; height: 14px;"><div class="rateit-selected" style="height: 14px; width: 56px;"></div><div class="rateit-hover" style="height:14px"></div></div></div>

                      <div class="product-price">
								<span class="price">
									$600.00
								</span>

                        <span class="price-before-discount">$800.00</span>

                      </div><!-- /.product-price -->

                    </div><!-- /.product-info -->

                    <div class="cart clearfix animate-effect">
                      <div class="action">

                        <div class="add-cart-button btn-group">
                          <button class="btn btn-primary icon" data-toggle="dropdown" type="button">
                            <i class="fa fa-shopping-cart"></i>
                          </button>
                          <button class="btn btn-primary cart-btn" type="button">Add to cart</button>

                        </div>

                      </div><!-- /.action -->
                    </div><!-- /.cart -->
                  </div>
                </div></div>
                  <div class="owl-item" style="width: 223px;"><div class="item">
                    <div class="products">
                      <div class="hot-deal-wrapper">
                        <div class="image">
                          <img src="assets\images\products\p7.jpg" alt="">
                        </div>
                        <div class="sale-offer-tag"><span>35%<br>off</span></div>
                        <div class="timing-wrapper">
                          <div class="box-wrapper">
                            <div class="date box">
                              <span class="key">120</span>
                              <span class="value">Days</span>
                            </div>
                          </div>

                          <div class="box-wrapper">
                            <div class="hour box">
                              <span class="key">20</span>
                              <span class="value">HRS</span>
                            </div>
                          </div>

                          <div class="box-wrapper">
                            <div class="minutes box">
                              <span class="key">36</span>
                              <span class="value">MINS</span>
                            </div>
                          </div>

                          <div class="box-wrapper hidden-md">
                            <div class="seconds box">
                              <span class="key">60</span>
                              <span class="value">SEC</span>
                            </div>
                          </div>
                        </div>
                      </div><!-- /.hot-deal-wrapper -->

                      <div class="product-info text-left m-t-20">
                        <h3 class="name"><a href="detail.html">Floral Print Buttoned</a></h3>
                        <div class="rating rateit-small rateit"><button id="rateit-reset-4" data-role="none" class="rateit-reset" aria-label="reset rating" aria-controls="rateit-range-4" style="display: none;"></button><div id="rateit-range-4" class="rateit-range" tabindex="0" role="slider" aria-label="rating" aria-owns="rateit-reset-4" aria-valuemin="0" aria-valuemax="5" aria-valuenow="4" aria-readonly="true" style="width: 70px; height: 14px;"><div class="rateit-selected" style="height: 14px; width: 56px;"></div><div class="rateit-hover" style="height:14px"></div></div></div>

                        <div class="product-price">
								<span class="price">
									$600.00
								</span>

                          <span class="price-before-discount">$800.00</span>

                        </div><!-- /.product-price -->

                      </div><!-- /.product-info -->

                      <div class="cart clearfix animate-effect">
                        <div class="action">

                          <div class="add-cart-button btn-group">
                            <button class="btn btn-primary icon" data-toggle="dropdown" type="button">
                              <i class="fa fa-shopping-cart"></i>
                            </button>
                            <button class="btn btn-primary cart-btn" type="button">Add to cart</button>

                          </div>

                        </div><!-- /.action -->
                      </div><!-- /.cart -->
                    </div>
                  </div></div></div></div>




              <div class="owl-controls clickable"><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div></div><!-- /.sidebar-widget -->
          </div>
          <!-- ============================================== HOT DEALS: END ============================================== -->

          <!-- ============================================== NEWSLETTER ============================================== -->
          <!-- /.sidebar-widget -->
          <!-- ============================================== NEWSLETTER: END ============================================== -->

          <!-- ============================================== Testimonials============================================== -->
          <div >

            <!-- /.item -->

            <!-- /.item -->

          </div>

          <!-- ============================================== Testimonials: END ============================================== -->



        </div>
      </div><!-- /.sidebar -->
      <div class="col-md-9" *ngIf="product!=null">
        <div class="detail-block">
          <div class="row  wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">

            <div class="col-xs-12 col-sm-6 col-md-5 gallery-holder">
              <div class="product-item-holder size-big single-product-gallery small-gallery">

                <div id="owl-single-product" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                  <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 5742px; left: 0px; display: block;"><div class="owl-item" style="width: 319px;"><div class="single-product-gallery-item" id="slide1">
                    <a data-lightbox="image-1" data-title="Ảnh của shop" href="{{product.img}}" >

                      <!--                      ảnh gốc-->

                      <img class="img-responsive" style="width: 500px;height: 300px" src="{{product.img}}">
                    </a>
                  </div>
                  </div>

                  </div>
                    <!--                    <div class="owl-item" style="width: 319px;" *ngFor="let i of imgs"><div class="single-product-gallery-item" id="slide2">-->
                    <!--                    <a data-lightbox="image-1" data-title="Gallery">-->
                    <!--                      <img class="img-responsive" alt="" src="{{i.name}}">-->
                    <!--                    </a>-->
                    <!--                  </div>-->


                    <!--                  </div>-->
                  </div><!-- /.single-product-gallery-item -->

                  <!-- /.single-product-gallery-item -->

                  <!-- /.single-product-gallery-item -->

                  <!-- /.single-product-gallery-item -->

                  <!-- /.single-product-gallery-item -->

                  <!-- /.single-product-gallery-item -->

                  <!-- /.single-product-gallery-item -->

                  <!-- /.single-product-gallery-item -->

                  <!-- /.single-product-gallery-item -->

                  <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page active"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div></div></div></div><!-- /.single-product-slider -->


                <div class="single-product-gallery-thumbs gallery-thumbs">

                  <div  class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                    <div class="owl-wrapper-outer">
                      <div class="owl-item" style="width: 100px;height: 100px" *ngFor="let i of imgs">
                        <div class="item">
                          <a data-lightbox="image-1" data-title="Ảnh của shop" href="{{i.name}}" >

                            <img class="img-responsive" style="width: 100px;height: 90px" alt="" src="{{i.name}}">
                          </a>
                        </div>
                      </div>


                    </div>









                    <div class="owl-controls clickable"><div class="owl-pagination"><div class="owl-page"><span class=""></span></div><div class="owl-page"><span class=""></span></div><div class="owl-page active"><span class=""></span></div></div></div></div><!-- /#owl-single-product-thumbnails -->



                </div><!-- /.gallery-thumbs -->

              </div><!-- /.single-product-gallery -->
            </div><!-- /.gallery-holder -->
            <div class="col-sm-6 col-md-7 product-info-block">
              <div class="product-info">
                <h1 class="name" >{{product.name}}</h1>

                <div class="rating-reviews m-t-20">
                  <div class="rating">
                    <ng-container *ngFor="let i of stars">
                      <i class="fa-solid fa-star " [ngClass]="{'active':i<=product.star}"></i>
                    </ng-container>
                  </div>
                  {{product.star}}/5
                </div>

                <div class="stock-container info-container m-t-10">
                  <div class="row">
                    <div class="col-sm-2">
                      <div class="stock-box">
                        <span class="label">Còn hàng :</span>
                      </div>
                    </div>
                    <div class="col-sm-9">
                      <div class="stock-box">
                        <span class="value">{{product.amount}}</span>
                      </div>
                    </div>
                  </div><!-- /.row -->
                </div>
                <div class="stock-container info-container m-t-10">
                  <div class="row">
                    <div class="col-sm-2">
                      <div class="stock-box">
                        <span class="label">Lượt bán ra :</span>
                      </div>
                    </div>
                    <div class="col-sm-9">
                      <div class="stock-box">
                        <span class="value">{{product.amountsell}}</span>
                      </div>
                    </div>
                  </div><!-- /.row -->
                </div><!-- /.stock-container -->

                <div class="description-container m-t-20">
                  {{product.detail}}
                </div><!-- /.description-container -->

                <div class="price-container info-container m-t-20">
                  <div class="row">


                    <div class="col-sm-6">
                      <div class="price-box">

                        <!--                        giá tiền-->

                        <h6><span class="price">Giá :{{product.price}}</span></h6>
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <div class="favorite-button m-t-10">
                        <a class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="" href="#" data-original-title="Wishlist">
                          <i class="fa fa-heart"></i>
                        </a>
                        <a class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="" href="#" data-original-title="Add to Compare">
                          <i class="fa fa-signal"></i>
                        </a>
                        <a class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="" href="#" data-original-title="E-mail">
                          <i class="fa fa-envelope"></i>
                        </a>
                      </div>
                    </div>

                  </div><!-- /.row -->
                </div><!-- /.price-container -->

                <div class="quantity-container info-container">

                  <div class="row">
                    <div id="thongbao" hidden>
                      <p style="color: red">Vượt quá số lượng cho phép</p>
                    </div>
                    <div class="col-sm-2">
                      <span class="label"></span>
                    </div>

                    <div class="col-sm-2">



                    </div>

                    <div class="col-sm-7">
                      <button  class="btn btn-primary" (click)="pushInCart(product)" *ngIf="product.shop.id!=idShopDangNhap&&product.amount!=0"><i class="fa fa-shopping-cart inner-right-vs"></i>Thêm vào giỏ hàng</button><br>
                      <button  class="btn btn-danger"  *ngIf="product.amount==0"><i></i>Hết hàng</button><br>
                      <button  class="btn btn-primary" (click)="this.danhdaulahethang(product.id)" *ngIf="product.shop.id==idShopDangNhap&&product.amount!=0"><i ></i> Đánh dấu là hết hàng</button><br>
                      <br>
                      <a href="/" class="btn btn-primary">Về trang chủ</a><br>
                      <br>
                      <a *ngIf="product.shop.id!=idShopDangNhap" [routerLink]="'/product/viewShop/'+idShop" class="btn btn-primary">Xem cửa hàng</a>
                      <a *ngIf="product.shop.id==idShopDangNhap" routerLink="/shop/myproductshop" class="btn btn-primary">Xem cửa hàng</a>
                    </div>


                  </div><!-- /.row -->
                </div><!-- /.quantity-container -->






              </div><!-- /.product-info -->
            </div><!-- /.col-sm-7 -->
          </div><!-- /.row -->
        </div>

        <div class="product-tabs inner-bottom-xs  wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
          <div class="row">
            <div class="col-sm-3">
              <ul id="product-tabs" class="nav nav-tabs nav-tab-cell">
                <li class="active"><a data-toggle="tab" href="#description">Mô tả</a></li>
                <li><a data-toggle="tab" href="#review">Đánh giá </a></li>
              </ul><!-- /.nav-tabs #product-tabs -->
            </div>
            <div class="col-sm-9">

              <div class="tab-content">

                <div id="description" class="tab-pane in active">
                  <div class="product-tab">
                    <p class="text">{{product.detail}}</p>
                  </div>
                </div><!-- /.tab-pane -->

                <div id="review" class="tab-pane">
                  <div class="product-tab">

                    <div class="product-reviews">
                      <h4 class="title">Đánh giá từ người mua</h4>

                      <div class="reviews"  *ngFor="let c of comment">
                        <div class="review">
                          <div class="text"><img src="{{c.account.img}}" style="width:30px; border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;height: 30px;">  {{c.account.name}} :</div>
                          <div class="rating">
                            <ng-container *ngFor="let i of stars">
                              <i class="fa-solid fa-star " [ngClass]="{'active':i<=c.star}"></i>
                            </ng-container>
                          </div>
                          <div class="text"> {{c.cmt}}</div>

                        </div>

                      </div><!-- /.reviews -->
                    </div><!-- /.product-reviews -->

                  </div><!-- /.product-tab -->
                </div><!-- /.tab-pane -->

                <div id="tags" class="tab-pane">
                  <div class="product-tag">

                    <h4 class="title">Product Tags</h4>
                    <form role="form" class="form-inline form-cnt">
                      <div class="form-container">

                        <div class="form-group">
                          <label for="exampleInputTag">Add Your Tags: </label>
                          <input type="email" id="exampleInputTag" class="form-control txt">


                        </div>

                        <button class="btn btn-upper btn-primary" type="submit">ADD TAGS</button>
                      </div><!-- /.form-container -->
                    </form><!-- /.form-cnt -->

                    <form role="form" class="form-inline form-cnt">
                      <div class="form-group">
                        <label>&nbsp;</label>
                        <span class="text col-md-offset-3">Use spaces to separate tags. Use single quotes (') for phrases.</span>
                      </div>
                    </form><!-- /.form-cnt -->

                  </div><!-- /.product-tab -->
                </div><!-- /.tab-pane -->

              </div><!-- /.tab-content -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.product-tabs -->

        <!-- ============================================== UPSELL PRODUCTS ============================================== -->
        <section class="section featured-product wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
          <h3 class="section-title">upsell products</h3>
          <div class="owl-carousel home-owl-carousel upsell-product custom-carousel owl-theme outer-top-xs" style="opacity: 1; display: block;">

            <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 2484px; left: 0px; display: block;"><div class="owl-item" style="width: 207px;"><div class="item item-carousel">
              <div class="products">

                <div class="product">
                  <div class="product-image">
                    <div class="image">
                      <a href="detail.html"><img src="assets\images\products\p1.jpg" alt=""></a>
                    </div><!-- /.image -->

                    <div class="tag sale"><span>sale</span></div>
                  </div><!-- /.product-image -->


                  <div class="product-info text-left">
                    <h3 class="name"><a href="detail.html">Floral Print Buttoned</a></h3>
                    <div class="rating rateit-small rateit"><button id="rateit-reset-6" data-role="none" class="rateit-reset" aria-label="reset rating" aria-controls="rateit-range-6" style="display: none;"></button><div id="rateit-range-6" class="rateit-range" tabindex="0" role="slider" aria-label="rating" aria-owns="rateit-reset-6" aria-valuemin="0" aria-valuemax="5" aria-valuenow="4" aria-readonly="true" style="width: 70px; height: 14px;"><div class="rateit-selected" style="height: 14px; width: 56px;"></div><div class="rateit-hover" style="height:14px"></div></div></div>
                    <div class="description"></div>

                    <div class="product-price">
				<span class="price">
					$650.99				</span>
                      <span class="price-before-discount">$ 800</span>

                    </div><!-- /.product-price -->

                  </div><!-- /.product-info -->
                  <div class="cart clearfix animate-effect">
                    <div class="action">
                      <ul class="list-unstyled">
                        <li class="add-cart-button btn-group">
                          <button class="btn btn-primary icon" data-toggle="dropdown" type="button">
                            <i class="fa fa-shopping-cart"></i>
                          </button>
                          <button class="btn btn-primary cart-btn" type="button">Add to cart</button>

                        </li>

                        <li class="lnk wishlist">
                          <a class="add-to-cart" href="detail.html" title="Wishlist">
                            <i class="icon fa fa-heart"></i>
                          </a>
                        </li>

                        <li class="lnk">
                          <a class="add-to-cart" href="detail.html" title="Compare">
                            <i class="fa fa-signal"></i>
                          </a>
                        </li>
                      </ul>
                    </div><!-- /.action -->
                  </div><!-- /.cart -->
                </div><!-- /.product -->

              </div><!-- /.products -->
            </div></div><div class="owl-item" style="width: 207px;"><div class="item item-carousel">
              <div class="products">

                <div class="product">
                  <div class="product-image">
                    <div class="image">
                      <a href="detail.html"><img src="assets\images\products\p2.jpg" alt=""></a>
                    </div><!-- /.image -->

                    <div class="tag sale"><span>sale</span></div>
                  </div><!-- /.product-image -->


                  <div class="product-info text-left">
                    <h3 class="name"><a href="detail.html">Floral Print Buttoned</a></h3>
                    <div class="rating rateit-small rateit"><button id="rateit-reset-7" data-role="none" class="rateit-reset" aria-label="reset rating" aria-controls="rateit-range-7" style="display: none;"></button><div id="rateit-range-7" class="rateit-range" tabindex="0" role="slider" aria-label="rating" aria-owns="rateit-reset-7" aria-valuemin="0" aria-valuemax="5" aria-valuenow="4" aria-readonly="true" style="width: 70px; height: 14px;"><div class="rateit-selected" style="height: 14px; width: 56px;"></div><div class="rateit-hover" style="height:14px"></div></div></div>
                    <div class="description"></div>

                    <div class="product-price">
				<span class="price">
					$650.99				</span>
                      <span class="price-before-discount">$ 800</span>

                    </div><!-- /.product-price -->

                  </div><!-- /.product-info -->
                  <div class="cart clearfix animate-effect">
                    <div class="action">
                      <ul class="list-unstyled">
                        <li class="add-cart-button btn-group">
                          <button class="btn btn-primary icon" data-toggle="dropdown" type="button">
                            <i class="fa fa-shopping-cart"></i>
                          </button>
                          <button class="btn btn-primary cart-btn" type="button">Add to cart</button>

                        </li>

                        <li class="lnk wishlist">
                          <a class="add-to-cart" href="detail.html" title="Wishlist">
                            <i class="icon fa fa-heart"></i>
                          </a>
                        </li>

                        <li class="lnk">
                          <a class="add-to-cart" href="detail.html" title="Compare">
                            <i class="fa fa-signal"></i>
                          </a>
                        </li>
                      </ul>
                    </div><!-- /.action -->
                  </div><!-- /.cart -->
                </div><!-- /.product -->

              </div><!-- /.products -->
            </div></div><div class="owl-item" style="width: 207px;"><div class="item item-carousel">
              <div class="products">

                <div class="product">
                  <div class="product-image">
                    <div class="image">
                      <a href="detail.html"><img src="assets\images\products\p3.jpg" alt=""></a>
                    </div><!-- /.image -->

                    <div class="tag hot"><span>hot</span></div>
                  </div><!-- /.product-image -->


                  <div class="product-info text-left">
                    <h3 class="name"><a href="detail.html">Floral Print Buttoned</a></h3>
                    <div class="rating rateit-small rateit"><button id="rateit-reset-8" data-role="none" class="rateit-reset" aria-label="reset rating" aria-controls="rateit-range-8" style="display: none;"></button><div id="rateit-range-8" class="rateit-range" tabindex="0" role="slider" aria-label="rating" aria-owns="rateit-reset-8" aria-valuemin="0" aria-valuemax="5" aria-valuenow="4" aria-readonly="true" style="width: 70px; height: 14px;"><div class="rateit-selected" style="height: 14px; width: 56px;"></div><div class="rateit-hover" style="height:14px"></div></div></div>
                    <div class="description"></div>

                    <div class="product-price">
				<span class="price">
					$650.99				</span>
                      <span class="price-before-discount">$ 800</span>

                    </div><!-- /.product-price -->

                  </div><!-- /.product-info -->
                  <div class="cart clearfix animate-effect">
                    <div class="action">
                      <ul class="list-unstyled">
                        <li class="add-cart-button btn-group">
                          <button class="btn btn-primary icon" data-toggle="dropdown" type="button">
                            <i class="fa fa-shopping-cart"></i>
                          </button>
                          <button class="btn btn-primary cart-btn" type="button">Add to cart</button>

                        </li>

                        <li class="lnk wishlist">
                          <a class="add-to-cart" href="detail.html" title="Wishlist">
                            <i class="icon fa fa-heart"></i>
                          </a>
                        </li>

                        <li class="lnk">
                          <a class="add-to-cart" href="detail.html" title="Compare">
                            <i class="fa fa-signal"></i>
                          </a>
                        </li>
                      </ul>
                    </div><!-- /.action -->
                  </div><!-- /.cart -->
                </div><!-- /.product -->

              </div><!-- /.products -->
            </div></div><div class="owl-item" style="width: 207px;"><div class="item item-carousel">
              <div class="products">

                <div class="product">
                  <div class="product-image">
                    <div class="image">
                      <a href="detail.html"><img src="assets\images\products\p4.jpg" alt=""></a>
                    </div><!-- /.image -->

                    <div class="tag new"><span>new</span></div>
                  </div><!-- /.product-image -->


                  <div class="product-info text-left">
                    <h3 class="name"><a href="detail.html">Floral Print Buttoned</a></h3>
                    <div class="rating rateit-small rateit"><button id="rateit-reset-9" data-role="none" class="rateit-reset" aria-label="reset rating" aria-controls="rateit-range-9" style="display: none;"></button><div id="rateit-range-9" class="rateit-range" tabindex="0" role="slider" aria-label="rating" aria-owns="rateit-reset-9" aria-valuemin="0" aria-valuemax="5" aria-valuenow="4" aria-readonly="true" style="width: 70px; height: 14px;"><div class="rateit-selected" style="height: 14px; width: 56px;"></div><div class="rateit-hover" style="height:14px"></div></div></div>
                    <div class="description"></div>

                    <div class="product-price">
				<span class="price">
					$650.99				</span>
                      <span class="price-before-discount">$ 800</span>

                    </div><!-- /.product-price -->

                  </div><!-- /.product-info -->
                  <div class="cart clearfix animate-effect">
                    <div class="action">
                      <ul class="list-unstyled">
                        <li class="add-cart-button btn-group">
                          <button class="btn btn-primary icon" data-toggle="dropdown" type="button">
                            <i class="fa fa-shopping-cart"></i>
                          </button>
                          <button class="btn btn-primary cart-btn" type="button">Add to cart</button>

                        </li>

                        <li class="lnk wishlist">
                          <a class="add-to-cart" href="detail.html" title="Wishlist">
                            <i class="icon fa fa-heart"></i>
                          </a>
                        </li>

                        <li class="lnk">
                          <a class="add-to-cart" href="detail.html" title="Compare">
                            <i class="fa fa-signal"></i>
                          </a>
                        </li>
                      </ul>
                    </div><!-- /.action -->
                  </div><!-- /.cart -->
                </div><!-- /.product -->

              </div><!-- /.products -->
            </div></div><div class="owl-item" style="width: 207px;"><div class="item item-carousel">
              <div class="products">

                <div class="product">
                  <div class="product-image">
                    <div class="image">
                      <a href="detail.html"><img src="assets/images/products/p5.jpg" alt=""></a>
                    </div><!-- /.image -->

                    <div class="tag hot"><span>hot</span></div>
                  </div><!-- /.product-image -->


                  <div class="product-info text-left">
                    <h3 class="name"><a href="detail.html">Floral Print Buttoned</a></h3>
                    <div class="rating rateit-small rateit"><button id="rateit-reset-10" data-role="none" class="rateit-reset" aria-label="reset rating" aria-controls="rateit-range-10" style="display: none;"></button><div id="rateit-range-10" class="rateit-range" tabindex="0" role="slider" aria-label="rating" aria-owns="rateit-reset-10" aria-valuemin="0" aria-valuemax="5" aria-valuenow="4" aria-readonly="true" style="width: 70px; height: 14px;"><div class="rateit-selected" style="height: 14px; width: 56px;"></div><div class="rateit-hover" style="height:14px"></div></div></div>
                    <div class="description"></div>

                    <div class="product-price">
				<span class="price">
					$650.99				</span>
                      <span class="price-before-discount">$ 800</span>

                    </div><!-- /.product-price -->

                  </div><!-- /.product-info -->
                  <div class="cart clearfix animate-effect">
                    <div class="action">
                      <ul class="list-unstyled">
                        <li class="add-cart-button btn-group">
                          <button class="btn btn-primary icon" data-toggle="dropdown" type="button">
                            <i class="fa fa-shopping-cart"></i>
                          </button>
                          <button class="btn btn-primary cart-btn" type="button">Add to cart</button>

                        </li>

                        <li class="lnk wishlist">
                          <a class="add-to-cart" href="detail.html" title="Wishlist">
                            <i class="icon fa fa-heart"></i>
                          </a>
                        </li>

                        <li class="lnk">
                          <a class="add-to-cart" href="detail.html" title="Compare">
                            <i class="fa fa-signal"></i>
                          </a>
                        </li>
                      </ul>
                    </div><!-- /.action -->
                  </div><!-- /.cart -->
                </div><!-- /.product -->

              </div><!-- /.products -->
            </div></div><div class="owl-item" style="width: 207px;"><div class="item item-carousel">
              <div class="products">

                <div class="product">
                  <div class="product-image">
                    <div class="image">
                      <a href="detail.html"><img src="assets/images/products/p6.jpg" alt=""></a>
                    </div><!-- /.image -->

                    <div class="tag new"><span>new</span></div>
                  </div><!-- /.product-image -->


                  <div class="product-info text-left">
                    <h3 class="name"><a href="detail.html">Floral Print Buttoned</a></h3>
                    <div class="rating rateit-small rateit"><button id="rateit-reset-11" data-role="none" class="rateit-reset" aria-label="reset rating" aria-controls="rateit-range-11" style="display: none;"></button><div id="rateit-range-11" class="rateit-range" tabindex="0" role="slider" aria-label="rating" aria-owns="rateit-reset-11" aria-valuemin="0" aria-valuemax="5" aria-valuenow="4" aria-readonly="true" style="width: 70px; height: 14px;"><div class="rateit-selected" style="height: 14px; width: 56px;"></div><div class="rateit-hover" style="height:14px"></div></div></div>
                    <div class="description"></div>

                    <div class="product-price">
				<span class="price">
					$650.99				</span>
                      <span class="price-before-discount">$ 800</span>

                    </div><!-- /.product-price -->

                  </div><!-- /.product-info -->
                  <div class="cart clearfix animate-effect">
                    <div class="action">
                      <ul class="list-unstyled">
                        <li class="add-cart-button btn-group">
                          <button class="btn btn-primary icon" data-toggle="dropdown" type="button">
                            <i class="fa fa-shopping-cart"></i>
                          </button>
                          <button class="btn btn-primary cart-btn" type="button">Add to cart</button>

                        </li>

                        <li class="lnk wishlist">
                          <a class="add-to-cart" href="detail.html" title="Wishlist">
                            <i class="icon fa fa-heart"></i>
                          </a>
                        </li>

                        <li class="lnk">
                          <a class="add-to-cart" href="detail.html" title="Compare">
                            <i class="fa fa-signal"></i>
                          </a>
                        </li>
                      </ul>
                    </div><!-- /.action -->
                  </div><!-- /.cart -->
                </div><!-- /.product -->

              </div><!-- /.products -->
            </div></div></div></div><!-- /.item -->

            <!-- /.item -->

            <!-- /.item -->

            <!-- /.item -->

            <!-- /.item -->

            <!-- /.item -->
            <div class="owl-controls clickable"><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div></div><!-- /.home-owl-carousel -->
        </section><!-- /.section -->
        <!-- ============================================== UPSELL PRODUCTS : END ============================================== -->

      </div><!-- /.col -->
      <div class="clearfix"></div>
    </div><!-- /.row -->
    <!-- ============================================== BRANDS CAROUSEL ============================================== -->
    <div id="brands-carousel" class="logo-slider wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">

      <div class="logo-slider-inner">
        <div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme" style="opacity: 1; display: block;">
          <div class="owl-wrapper-outer"><div class="owl-wrapper" style="width: 3800px; left: 0px; display: block;"><div class="owl-item" style="width: 190px;"><div class="item m-t-15">
            <a href="#" class="image">
              <img src="assets/images/brands/brand1.png" alt="">
            </a>
          </div></div><div class="owl-item" style="width: 190px;"><div class="item m-t-10">
            <a href="#" class="image">
              <img src="assets/images/brands/brand2.png" alt="">
            </a>
          </div></div><div class="owl-item" style="width: 190px;"><div class="item">
            <a href="#" class="image">
              <img src="assets/images/brands/brand3.png" alt="">
            </a>
          </div></div><div class="owl-item" style="width: 190px;"><div class="item">
            <a href="#" class="image">
              <img src="assets/images/brands/brand4.png" alt="">
            </a>
          </div></div><div class="owl-item" style="width: 190px;"><div class="item">
            <a href="#" class="image">
              <img src="assets/images/brands/brand5.png" alt="">
            </a>
          </div></div><div class="owl-item" style="width: 190px;"><div class="item">
            <a href="#" class="image">
              <img src="assets/images/brands/brand6.png" alt="">
            </a>
          </div></div><div class="owl-item" style="width: 190px;"><div class="item">
            <a href="#" class="image">
              <img src="assets/images/brands/brand2.png" alt="">
            </a>
          </div></div><div class="owl-item" style="width: 190px;"><div class="item">
            <a href="#" class="image">
              <img src="assets/images/brands/brand4.png" alt="">
            </a>
          </div></div><div class="owl-item" style="width: 190px;"><div class="item">
            <a href="#" class="image">
              <img data-echo="assets/images/brands/brand1.png" src="assets\images\blank.gif" alt="">
            </a>
          </div></div><div class="owl-item" style="width: 190px;"><div class="item">
            <a href="#" class="image">
              <img data-echo="assets/images/brands/brand5.png" src="assets\images\blank.gif" alt="">
            </a>
          </div></div></div></div><!--/.item-->

          <!--/.item-->

          <!--/.item-->

          <!--/.item-->

          <!--/.item-->

          <!--/.item-->

          <!--/.item-->

          <!--/.item-->

          <!--/.item-->

          <!--/.item-->
          <div class="owl-controls clickable"><div class="owl-buttons"><div class="owl-prev"></div><div class="owl-next"></div></div></div></div><!-- /.owl-carousel #logo-slider -->
      </div><!-- /.logo-slider-inner -->

    </div><!-- /.logo-slider -->
    <!-- ============================================== BRANDS CAROUSEL : END ============================================== -->	</div><!-- /.container -->
</div>
