<!--mở 2 dòng div đầu tiên-->

<!--<div class="container">-->
<!--  <div class="bg-white rounded d-flex align-items-center justify-content-between" id="header">-->

    <!--PHÂN TRANG-->

    <!--    <div class="ml-auto mt-3 mr-2">-->
    <!--      <nav aria-label="Page navigation example">-->
    <!--        <ul class="pagination">-->
    <!--          <li class="page-item"><a class="page-link" href="#" aria-label="Previous"> <span aria-hidden="true"-->
    <!--                                                                                           class="font-weight-bold">&lt;</span>-->
    <!--            <span class="sr-only">Previous</span> </a></li>-->
    <!--          <li class="page-item active"><a class="page-link" href="#">1</a></li>-->
    <!--          <li class="page-item"><a class="page-link" href="#">..</a></li>-->
    <!--          <li class="page-item"><a class="page-link" href="#">24</a></li>-->
    <!--          <li class="page-item"><a class="page-link" href="#" aria-label="Next"> <span aria-hidden="true"-->
    <!--                                                                                       class="font-weight-bold">&gt;</span>-->
    <!--            <span class="sr-only">Next</span> </a></li>-->
    <!--        </ul>-->
    <!--      </nav>-->
    <!--    </div>-->


<!--  </div>-->
<!--  <div id="content" class="my-5">-->
<!--    <div id="filterbar" class="collapse">-->
<!--      <div class="box border-bottom">-->
<!--        <div class="form-group text-center">-->
<!--          <div class="btn-group" data-toggle="buttons"><label class="btn btn-success form-check-label"> <input-->
<!--            class="form-check-input" type="radio"> Reset </label> <label-->
<!--            class="btn btn-success form-check-label active"> <input class="form-check-input" type="radio" checked> Apply-->
<!--          </label></div>-->
<!--        </div>-->
<!--        <div><label class="tick">New <input type="checkbox" checked="checked"> <span class="check"></span> </label>-->
<!--        </div>-->
<!--        <div><label class="tick">Sale <input type="checkbox"> <span class="check"></span> </label></div>-->
<!--      </div>-->
<!--      <div class="box border-bottom">-->
<!--        <div class="box-label text-uppercase d-flex align-items-center">Outerwear-->
<!--          <button class="btn ml-auto" type="button" data-toggle="collapse" data-target="#inner-box"-->
<!--                  aria-expanded="false" aria-controls="inner-box" id="out" onclick="outerFilter()"><span-->
<!--            class="fas fa-plus"></span></button>-->
<!--        </div>-->
<!--        <div id="inner-box" class="collapse mt-2 mr-1">-->
<!--          <div class="my-1"><label class="tick">Windbreaker <input type="checkbox" checked="checked"> <span-->
<!--            class="check"></span> </label></div>-->
<!--          <div class="my-1"><label class="tick">Jumpsuit <input type="checkbox"> <span class="check"></span> </label>-->
<!--          </div>-->
<!--          <div class="my-1"><label class="tick">Jacket <input type="checkbox"> <span class="check"></span> </label>-->
<!--          </div>-->
<!--          <div class="my-1"><label class="tick">Coat <input type="checkbox"> <span class="check"></span> </label></div>-->
<!--          <div class="my-1"><label class="tick">Raincoat <input type="checkbox"> <span class="check"></span> </label>-->
<!--          </div>-->
<!--          <div class="my-1"><label class="tick">Handbag <input type="checkbox" checked> <span class="check"></span>-->
<!--          </label></div>-->
<!--          <div class="my-1"><label class="tick">Warm vest <input type="checkbox"> <span class="check"></span> </label>-->
<!--          </div>-->
<!--          <div class="my-1"><label class="tick">Wallets <input type="checkbox" checked> <span class="check"></span>-->
<!--          </label></div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="box border-bottom">-->
<!--        <div class="box-label text-uppercase d-flex align-items-center">season-->
<!--          <button class="btn ml-auto" type="button" data-toggle="collapse" data-target="#inner-box2"-->
<!--                  aria-expanded="false" aria-controls="inner-box2"><span class="fas fa-plus"></span></button>-->
<!--        </div>-->
<!--        <div id="inner-box2" class="collapse mt-2 mr-1">-->
<!--          <div class="my-1"><label class="tick">Spring <input type="checkbox" checked="checked"> <span-->
<!--            class="check"></span> </label></div>-->
<!--          <div class="my-1"><label class="tick">Summer <input type="checkbox"> <span class="check"></span> </label>-->
<!--          </div>-->
<!--          <div class="my-1"><label class="tick">Autumn <input type="checkbox" checked> <span class="check"></span>-->
<!--          </label></div>-->
<!--          <div class="my-1"><label class="tick">Winter <input type="checkbox"> <span class="check"></span> </label>-->
<!--          </div>-->
<!--          <div class="my-1"><label class="tick">Rainy <input type="checkbox"> <span class="check"></span> </label></div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="box border-bottom">-->
<!--        <div class="box-label text-uppercase d-flex align-items-center">price-->
<!--          <button class="btn ml-auto" type="button" data-toggle="collapse" data-target="#price" aria-expanded="false"-->
<!--                  aria-controls="price"><span class="fas fa-plus"></span></button>-->
<!--        </div>-->
<!--        <div class="collapse" id="price">-->
<!--          <div class="middle">-->
<!--            <div class="multi-range-slider"><input type="range" id="input-left" min="0" max="100" value="10"> <input-->
<!--              type="range" id="input-right" min="0" max="100" value="50">-->
<!--              <div class="slider">-->
<!--                <div class="track"></div>-->
<!--                <div class="range"></div>-->
<!--                <div class="thumb left"></div>-->
<!--                <div class="thumb right"></div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="d-flex align-items-center justify-content-between mt-2">-->
<!--            <div><span id="amount-left" class="font-weight-bold"></span> uah</div>-->
<!--            <div><span id="amount-right" class="font-weight-bold"></span> uah</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="box">-->
<!--        <div class="box-label text-uppercase d-flex align-items-center">size-->
<!--          <button class="btn ml-auto" type="button" data-toggle="collapse" data-target="#size" aria-expanded="false"-->
<!--                  aria-controls="size"><span class="fas fa-plus"></span></button>-->
<!--        </div>-->
<!--        <div id="size" class="collapse">-->
<!--          <div class="btn-group d-flex align-items-center flex-wrap" data-toggle="buttons"><label-->
<!--            class="btn btn-success form-check-label"> <input class="form-check-input" type="checkbox"> 80 </label>-->
<!--            <label class="btn btn-success form-check-label"> <input class="form-check-input" type="checkbox" checked> 92-->
<!--            </label> <label class="btn btn-success form-check-label"> <input class="form-check-input" type="checkbox"-->
<!--                                                                             checked> 102 </label> <label-->
<!--              class="btn btn-success form-check-label"> <input class="form-check-input" type="checkbox" checked> 104-->
<!--            </label> <label class="btn btn-success form-check-label"> <input class="form-check-input" type="checkbox"-->
<!--                                                                             checked> 106 </label> <label-->
<!--              class="btn btn-success form-check-label"> <input class="form-check-input" type="checkbox" checked> 108-->
<!--            </label></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div id="products">-->
<!--      <div class="row mx-0">-->
<!--        <div class="col-lg-4 col-md-6">-->
<!--          <div class="card d-flex flex-column align-items-center" *ngFor="let p of product, index as i">-->
<!--            <div class="product-name">{{p.name}}</div>-->
<!--            <div class="card-img"><img-->
<!--              src="{{p.img}}"-->
<!--              alt=""></div>-->
<!--            <div class="card-body pt-5">-->
<!--              <div class="text-muted text-center mt-auto"></div>-->
<!--              <div class="d-flex align-items-center justify-content-center colors my-2">-->
<!--              </div>-->
<!--              <div class="d-flex align-items-center price">-->
<!--                <div class="del mr-2"><span class="text-dark">5500 uah</span></div>-->
<!--                <div class="font-weight-bold">{{p.price}}</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container bootdey">
  <div class="col-md-3">
    <section class="panel">
      <div class="panel-body">
        <input type="text" placeholder="Keyword Search" class="form-control" />
      </div>
    </section>
    <section class="panel">
      <header class="panel-heading">
        Category
      </header>
      <div class="panel-body">
        <ul class="nav prod-cat">
          <li>
            <a href="#" class="active"><i class="fa fa-angle-right"></i> Dress</a>
            <ul class="nav">
              <li class="active"><a href="#">- Shirt</a></li>
              <li><a href="#">- Pant</a></li>
              <li><a href="#">- Shoes</a></li>
            </ul>
          </li>
          <li>
            <a href="#"><i class="fa fa-angle-right"></i> Bags &amp; Purses</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-angle-right"></i> Beauty</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-angle-right"></i> Coat &amp; Jacket</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-angle-right"></i> Jeans</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-angle-right"></i> Jewellery</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-angle-right"></i> Electronics</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-angle-right"></i> Sports</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-angle-right"></i> Technology</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-angle-right"></i> Watches</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-angle-right"></i> Accessories</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="panel">
      <header class="panel-heading">
        Price Range
      </header>
      <div class="panel-body sliders">
        <div id="slider-range" class="slider"></div>
        <div class="slider-info">
          <span id="slider-range-amount"></span>
        </div>
      </div>
    </section>
    <section class="panel">
      <header class="panel-heading">
        Filter
      </header>
      <div class="panel-body">
        <form role="form product-form">
          <div class="form-group">
            <label>Brand</label>
            <select class="form-control hasCustomSelect" style="-webkit-appearance: menulist-button; width: 231px; position: absolute; opacity: 0; height: 34px; font-size: 12px;">
              <option>Wallmart</option>
              <option>Catseye</option>
              <option>Moonsoon</option>
              <option>Textmart</option>
            </select>
            <span class="customSelect form-control" style="display: inline-block;"><span class="customSelectInner" style="width: 209px; display: inline-block;">Wallmart</span></span>
          </div>
          <div class="form-group">
            <label>Color</label>
            <select class="form-control hasCustomSelect" style="-webkit-appearance: menulist-button; width: 231px; position: absolute; opacity: 0; height: 34px; font-size: 12px;">
              <option>White</option>
              <option>Black</option>
              <option>Red</option>
              <option>Green</option>
            </select>
            <span class="customSelect form-control" style="display: inline-block;"><span class="customSelectInner" style="width: 209px; display: inline-block;">White</span></span>
          </div>
          <div class="form-group">
            <label>Type</label>
            <select class="form-control hasCustomSelect" style="-webkit-appearance: menulist-button; width: 231px; position: absolute; opacity: 0; height: 34px; font-size: 12px;">
              <option>Small</option>
              <option>Medium</option>
              <option>Large</option>
              <option>Extra Large</option>
            </select>
            <span class="customSelect form-control" style="display: inline-block;"><span class="customSelectInner" style="width: 209px; display: inline-block;">Small</span></span>
          </div>
          <button class="btn btn-primary" type="submit">Filter</button>
        </form>
      </div>
    </section>
    <section class="panel">
      <header class="panel-heading">
        Best Seller
      </header>
      <div class="panel-body">
        <div class="best-seller">
          <article class="media">
            <a class="pull-left thumb p-thumb">
              <img src="https://www.bootdey.com/image/250x220/FFB6C1/000000" />
            </a>
            <div class="media-body">
              <a href="#" class="p-head">Item One Tittle</a>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </article>
          <article class="media">
            <a class="pull-left thumb p-thumb">
              <img src="https://www.bootdey.com/image/250x220/A2BE2/000000" />
            </a>
            <div class="media-body">
              <a href="#" class="p-head">Item Two Tittle</a>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </article>
          <article class="media">
            <a class="pull-left thumb p-thumb">
              <img src="https://www.bootdey.com/image/250x220/6495ED/000000" />
            </a>
            <div class="media-body">
              <a href="#" class="p-head">Item Three Tittle</a>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </article>
        </div>
      </div>
    </section>
  </div>
  <div class="col-md-9">
    <section class="panel">
      <div class="panel-body">
        <div class="pull-right">
          <ul class="pagination pagination-sm pro-page-list">
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">»</a></li>
          </ul>
        </div>
      </div>
    </section>

    <div class="row product-list">

      <div class="col-md-4"*ngFor="let p of product, index as i">
        <section class="panel" >
          <div class="pro-img-box" >
            <a [routerLink]="'/product/view/'+ p.id" ><img src="{{p.img}}" style="height: 200px;width: 200px" /></a>
            <a href="#" class="adtocart">
              <i class="fa fa-shopping-cart"></i>
            </a>
          </div>

          <div class="panel-body text-center">
            <h4>
              <a href="#" class="pro-title">
                {{p.name}}
              </a>
            </h4>
            <p class="price">{{p.price}}</p>
          </div>
        </section>
      </div>

    </div>
  </div>
</div>


