
<!-- ============================================== HEADER ============================================== -->

<style>
  .stars {
    display: flex;
    position: relative;
    white-space: nowrap;
    margin-top: -40px;
    margin-bottom: -50px;
  }
  .stars svg {
    width: 35px;
  }

  .overlay {
    background: #fff;
    height: 70%;
    overflow: hidden;
    mix-blend-mode: color;
    position: absolute;
    top: 0;
    right: 0;
  }

  svg {
    fill: gold;
  }
  .product-list img{
    width: 100%;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
  }

  .product-list .pro-img-box {
    position: relative;
  }
  .adtocart {
    background: #fc5959;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #fff;
    display: inline-block;
    text-align: center;
    border: 3px solid #fff;
    left: 45%;
    bottom: -25px;
    position: absolute;
  }

  .adtocart i{
    color: #fff;
    font-size: 25px;
    line-height: 42px;
  }

  .pro-title {
    color: #5A5A5A;
    display: inline-block;
    margin-top: 20px;
    font-size: 16px;
  }

  .product-list .price {
    color:#fc5959 ;
    font-size: 15px;
  }

  .pro-img-details {
    margin-left: -15px;
  }

  .pro-img-details img {
    width: 100%;
  }

  .pro-d-title {
    font-size: 16px;
    margin-top: 0;
  }

  .product_meta {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    margin: 15px 0;
  }

  .product_meta span {
    display: block;
    margin-bottom: 10px;
  }
  .product_meta a, .pro-price{
    color:#fc5959 ;
  }

  .pro-price, .amount-old {
    font-size: 18px;
    padding: 0 10px;
  }

  .amount-old {
    text-decoration: line-through;
  }

  .quantity {
    width: 120px;
  }

  .pro-img-list {
    margin: 10px 0 0 -15px;
    width: 100%;
    display: inline-block;
  }

  .pro-img-list a {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .pro-d-head {
    font-size: 18px;
    font-weight: 300;
  }
</style>
<body>
<!-- ============================================== HEADER : END ============================================== -->
<div class="body-content outer-top-xs" id="top-banner-and-menu">
  <div class="container">
    <div class="row">
      <!-- ============================================== SIDEBAR ============================================== -->

      <!-- ================================== TOP NAVIGATION ================================== -->


      <div class="col-xs-12 col-sm-12 col-md-3 sidebar" style="margin-top: 50px">

        <!-- ================================== TOP NAVIGATION ================================== -->


        <div class="side-menu animate-dropdown outer-bottom-xs">
          <div class="head"><i class="icon fa fa-align-justify fa-fw"></i>Đơn hàng của tôi</div>



          <div class="sidebar-widget" >
            <h3 class="section-title">Trạng thái đơn hàng</h3>
            <div class="sidebar-widget-body outer-top-xs" >

              <nav class="yamm megamenu-horizontal">
                <ul class="nav">
                  <li> <a  style="color: red" (click)="showbillshop1()"><b style="color: black">Toàn bộ đơn hàng </b> <b></b> </a> </li>

                </ul>
                <!-- /.nav -->
              </nav>

              <div *ngFor="let m of billstatus" >
                <nav class="yamm megamenu-horizontal">
                  <ul class="nav">
                    <li>  <a  style="color: red" (click)="showbillbystatus(m.id)"> <b style="color: black" > {{m.name}} </b>
                      <b>
                      </b></a></li>

                  </ul>
                </nav>
              </div>



            </div>
          </div>




        </div>
        <!-- /.sidebar-widget -->



      </div>



      <div class="col-xs-12 col-sm-12 col-md-9 homebanner-holder" style="margin-top: 50px">

        <!-- ============================================== SCROLL TABS ============================================== -->
        <div class="scroll-tabs outer-top-vs wow fadeInUp">
          <div class="more-info-tab clearfix ">
            <h3 class="new-product-title pull-left">Đơn hàng của tôi</h3>
          </div>
        </div>

        <div *ngFor="let b of bills"  >
          <div id="product-tabs-slider" class="scroll-tabs outer-top-vs wow fadeInUp" >
            <div class="more-info-tab clearfix ">
              <h3 class="new-product-title pull-left"><b>Người bán : {{b.product[0].shop.name}}   </b> </h3>
            </div>
            <div class="tab-content outer-top-xs" >
              <div class="tab-pane in active" id="all">
                <div class="product-slider">
                  <!-- /.home-owl-carousel -->
                </div>
                <!-- /.product-slider -->
              </div>
              <!-- /.tab-pane -->
              <div style="margin-bottom: 10px" >
                <h4>Ngày mua:  {{b.date}}</h4>
                <div id="thongtin{{b.id}}"></div>
                <h4>Trạng thái : {{b.billStatus.name}}</h4>
                <h4>Tổng tiền : {{b.totalprice}}</h4>
              </div>

              <div class="d-grid gap-2" >
                <button class="btn btn-primary" type="button" style="width: 98%"  (click)="this.showbillbyidbill(b.id)" data-toggle="modal" data-target="#cartModal">Xem chi tiết đơn hàng</button>
                <h3>  </h3>
                <div *ngIf="b.billStatus.id==1">
                  <button class="btn btn-warning" type="button" style="width: 98%" (click)="this.setbillshop(5,b.id)">Hủy đơn hàng</button>
                  <h3></h3>
                </div>
                <div *ngIf="b.billStatus.id==3">
                  <button class="btn btn-warning" type="button" style="width: 98%" (click)="this.setbillshop(4,b.id)">Đã nhận được hàng</button>
                  <h3></h3>
                </div>
                <div *ngIf="b.billStatus.id==4">
                  <button class="btn btn-warning" type="button" style="width: 98%" >Đánh giá</button>
                  <h3></h3>
                </div>
                <div *ngIf="b.billStatus.id==5">
                  <button class="btn btn-warning" type="button" style="width: 98%" >Mua lại</button>
                  <h3></h3>
                </div>
              </div>


            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="cartModal" *ngIf="product!=null" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel" >
          Người mua :{{this.product.name}}
          <button class="btn btn-white" ><i class="fa fa-arrow-right"></i>Xem thông tin cá nhân</button>
        </h5>
      </div>
      <div class="modal-body">
        <div class="col-md-9">
          <div class="row product-list" >
            <div class="col-md-4"  *ngFor="let c of product.products">
              <section class="panel">
                <div class="pro-img-box" >
                  <img src="{{c.img}}" alt="" />

                </div>
                <div class="panel-body text-center"><div class="stars">
                  <svg width="120" height="100" viewBox="0 0 940.688 940.688">
                    <path d="M885.344,319.071l-258-3.8l-102.7-264.399c-19.8-48.801-88.899-48.801-108.6,0l-102.7,264.399l-258,3.8 c-53.4,3.101-75.1,70.2-33.7,103.9l209.2,181.4l-71.3,247.7c-14,50.899,41.1,92.899,86.5,65.899l224.3-122.7l224.3,122.601 c45.4,27,100.5-15,86.5-65.9l-71.3-247.7l209.2-181.399C960.443,389.172,938.744,322.071,885.344,319.071z" />
                  </svg>
                  <svg width="120" height="100" viewBox="0 0 940.688 940.688">
                    <path d="M885.344,319.071l-258-3.8l-102.7-264.399c-19.8-48.801-88.899-48.801-108.6,0l-102.7,264.399l-258,3.8 c-53.4,3.101-75.1,70.2-33.7,103.9l209.2,181.4l-71.3,247.7c-14,50.899,41.1,92.899,86.5,65.899l224.3-122.7l224.3,122.601 c45.4,27,100.5-15,86.5-65.9l-71.3-247.7l209.2-181.399C960.443,389.172,938.744,322.071,885.344,319.071z" />
                  </svg>
                  <svg width="120" height="100" viewBox="0 0 940.688 940.688">
                    <path d="M885.344,319.071l-258-3.8l-102.7-264.399c-19.8-48.801-88.899-48.801-108.6,0l-102.7,264.399l-258,3.8 c-53.4,3.101-75.1,70.2-33.7,103.9l209.2,181.4l-71.3,247.7c-14,50.899,41.1,92.899,86.5,65.899l224.3-122.7l224.3,122.601 c45.4,27,100.5-15,86.5-65.9l-71.3-247.7l209.2-181.399C960.443,389.172,938.744,322.071,885.344,319.071z" />
                  </svg>
                  <svg width="120" height="100" viewBox="0 0 940.688 940.688">
                    <path d="M885.344,319.071l-258-3.8l-102.7-264.399c-19.8-48.801-88.899-48.801-108.6,0l-102.7,264.399l-258,3.8 c-53.4,3.101-75.1,70.2-33.7,103.9l209.2,181.4l-71.3,247.7c-14,50.899,41.1,92.899,86.5,65.899l224.3-122.7l224.3,122.601 c45.4,27,100.5-15,86.5-65.9l-71.3-247.7l209.2-181.399C960.443,389.172,938.744,322.071,885.344,319.071z" />
                  </svg>
                  <svg width="120" height="100" viewBox="0 0 940.688 940.688">
                    <path d="M885.344,319.071l-258-3.8l-102.7-264.399c-19.8-48.801-88.899-48.801-108.6,0l-102.7,264.399l-258,3.8 c-53.4,3.101-75.1,70.2-33.7,103.9l209.2,181.4l-71.3,247.7c-14,50.899,41.1,92.899,86.5,65.899l224.3-122.7l224.3,122.601 c45.4,27,100.5-15,86.5-65.9l-71.3-247.7l209.2-181.399C960.443,389.172,938.744,322.071,885.344,319.071z" />
                  </svg>
                  <div class="overlay" style="width: 100%"></div>
                </div>
                  <h4>
                    <a href="#" class="pro-title">
                      {{c.name}}
                    </a>
                  </h4>
                  <p class="price">{{c.price}}</p>
                  <button class="btn btn-white" style="margin-left: -25px" [routerLink]="'/product/view/'+ c.id" data-dismiss="modal">Xem trực tiếp sản phẩm<i class="fa fa-arrow-right"></i></button>

                </div>
              </section>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <h5>Ngày mua:  {{bills[0].date}}</h5>
          <h5>Trạng thái : {{bills[0].billStatus.name}}</h5>
          <h5>Tổng :  {{product.products.length}} sản phẩm </h5>
          <h5>Thành tiền : <span class="price text-success">{{product.total}}</span></h5>
        </div>
      </div>
      <div class="modal-footer border-top-0 d-flex justify-content-between">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Checkout</button>
      </div>
    </div>
  </div>
</div>



</body>



<script>
  $(document).ready(function() {
    $('#cartModal').modal('show');
  });
  $(document).ready(function() {
    $('#cartModal1').modal('show');
  });

  const percentage = Math.round((value / max) * 100);
  document.querySelector('.overlay').style.width = `${100 - percentage}%`;
</script>
