
<div class="body-content outer-top-xs" id="top-banner-and-menu">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 sidebar" style="margin-top: 50px">

        <!-- ================================== TOP NAVIGATION ================================== -->


        <div class="side-menu animate-dropdown outer-bottom-xs">
          <div class="head"><i class="icon fa fa-align-justify fa-fw"></i>Quản lí bán hàng</div>
          <div class="sidebar-widget" >

            <div class="sidebar-widget-body outer-top-xs" >
              <div>
                <nav class="yamm megamenu-horizontal">
                  <ul class="nav">
                    <li class="dropdown menu-item"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-shopping-bag" aria-hidden="true"></i>Thông tin bán hàng</a>
                      <ul class="dropdown-menu mega-menu">
                        <li class="yamm-content">
                          <div class="row">
                            <div class="col-sm-12 col-md-3">
                              <ul class="links list-unstyled">
                                <li><a routerLink="/shop/myshop">Thông tin cá nhân</a></li>
                                <li><a routerLink="">Khách hàng thân thiet</a></li>

                              </ul>
                            </div>
                            <!-- /.col -->

                            <!-- /.col -->
                          </div>
                          <!-- /.row -->
                        </li>
                        <!-- /.yamm-content -->
                      </ul>
                      <!-- /.dropdown-menu --> </li>
                    <!-- /.menu-item -->

                    <li class="dropdown menu-item"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" ><i class="icon fa fa-laptop" aria-hidden="true" ></i>Quản lí sản phẩm</a>
                      <ul class="dropdown-menu mega-menu">
                        <li class="yamm-content">
                          <div class="row">
                            <div class="col-sm-12 col-md-3">
                              <ul class="links list-unstyled">
                                <li><a routerLink="/shop/myproductshop">Taast cả sản phẩm</a></li>
                                <li><a routerLink="">Khách hàng thân thiet</a></li>
                              </ul>
                            </div>
                            <!-- /.col -->

                            <!-- /.col -->
                          </div>
                          <!-- /.row -->
                        </li>
                        <!-- /.yamm-content -->
                      </ul>

                    </li>


                    <li class="dropdown menu-item"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon fa fa-paw" aria-hidden="true"></i>Quản lí đơn hàng</a>
                      <ul class="dropdown-menu mega-menu">
                        <li class="yamm-content">
                          <div class="row">
                            <div class="col-sm-12 col-md-3">
                              <ul class="links list-unstyled">
                                <li>
                                  <a routerLink="/shop/mybillshop">Toàn bộ đơn hàng
                                  </a>
                                </li>

                              </ul>
                            </div>
                            <!-- /.col -->

                            <!-- /.col -->
                          </div>
                          <!-- /.row -->
                        </li>
                        <!-- /.yamm-content -->
                      </ul>
                    </li>


                  </ul>


                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
