.item.item-carousel.col-4 {
  width: 25%;
  float: left;
}
.rating{
  display: flex;
  justify-content: center;
  gap : 5px;
  margin-top: 20px;
  margin-left: -75px;
}
.rating.i{
  color: #feffe7;
  cursor: pointer;
}
.active{
  color: orange;
}


